.about-page {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 50px 0px;
    margin-right: inherit;

    display: flex;
    align-items: center;
    gap: 30px;
}

.about-img {
    width: 500px;
}

.right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.left {
    flex: 1 1 0;
}

@media screen and (max-width:900px) {
    .about-img {
        width: 350px;
    }
}

@media screen and (max-width:600px) {
    .about-page {
        flex-direction: column;
    }
}

@media screen and (max-width:280px) {
    .about-page {
        margin: 100px 0px;
    }
}
