.about-page {
    margin: 0 120px;
    height: inherit;
}

.flex {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    gap: 30px;
}

.about-img {
    width: 500px;
}

.flex-right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.flex-left {
    flex: 1 1 0;
    padding: 0;
}

@media screen and (max-width:900px) {
    .about-page {
        margin: 0px 60px;
    }

    .about-img {
        width: 350px;
    }
}

@media screen and (max-width: 720px){
    .about-page {
        margin: 10px 30px;
    }
}

@media screen and (max-width:600px) {
    .flex {
        flex-direction: column;
    }
}

@media screen and (max-width:280px) {
    .about-page {
        margin: 100px 10px;
    }

    .about-img {
        width: 250px;
    }
}
