
.contact-page {
    width: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}

.contact-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.contact-text h2 {
    margin-bottom: 20px;
}

.left {
    width: 95%;
    padding: 10px;
    flex: 1 1 0;
}

.right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form {
    padding: 10px;
}

input,  textarea, button {
    width: 95%;
    display: block;
    padding: 7px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid var(--black);
}

textarea {
    height: 100px;
}

button {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

input:focus {
    border: 1px solid var(--primary-color);
}


@media screen and (max-width: 600px) {
    .contact-page {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (max-width: 420px) {
    .contact-page {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .contact-text {
        gap: 0px;
    }
}

@media screen and (max-width: 280px) {
    .contact-page {
        margin-top: 100px;
    }
}