.nav-bar {
    background-color: var(--white);
    border-bottom: 1px solid var(--black);
}

.nav-wrapper {    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 120px;
    padding: 20px 0;
}

.nav-brand {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.nav-logo {
    width: 30px;
    margin-right: 10px;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    padding: 5px 20px;
}

.burger-menu {
    width: 30px;
    display: none;
}

@media screen and (max-width: 900px){
    .nav-wrapper {
        margin: 0 60px;
    }
}

@media screen and (max-width: 720px){
    .nav-wrapper {
        margin: 0 30px;
    }
}


@media screen and (max-width: 600px) {
    .burger-menu {
        display: block;
    }

    .nav-items {
        background-color: var(--primary-color);
        width: 50%;
        border-radius: 15px;
        padding: 10px;

        display: flex;
        flex-direction: column;

        position: absolute;
        top: -1000px;
        right: 30px;
        z-index: 999;
    }

    .nav-items.show {
        top: 70px;
    }

    .nav-item {
        color: var(--white);
        padding: 10px;
        width: 100%;
    }

    .nav-item:hover{
        background-color: var(--white);
        color: var(--primary-color);
    }
}
